html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hide {
    display: none !important;
}

.car, .enemy {
    width: 50px;
    height: 100px;
    background: rgba(0, 0, 0, 0) url(./image/player.png) center / cover no-repeat;
    position: absolute;
}

.gameArea {
    width: 300px;
    position: relative;
    margin: auto;
    background: #222;
    overflow: hidden;
}

.line {
    position: absolute;
    width: 10px;
    height: 50px;
    background-color: #fff;
    left: 145px;
}

.start__menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background: #f7f7f7;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
    z-index: 201;
}

.difficulty {
    padding: 20px 0;
    border-bottom: 2px solid #333;
}

.difficulty p {
    font-weight: 500;
}

.difficulty__title {
    font-size: 1.5rem;
    color: #333;
}

.difficulty__subtitle {
    font-size: 1rem;
    color: #999;
    margin-bottom: 20px;
}

.difficulty-selected {
    font-size: 1rem;
    color: #999;
}

.difficulty__button {
    cursor: pointer;
    min-width: 100px;
    padding: .5rem;
    margin: 0 5px 15px;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    font-family: inherit;
    background-color: #333;
    outline: none;
    border: 1px solid #333;
    border-radius: 4px;
    transition: all .2s linear;
}

.difficulty__button.active {
    color: #333;
    background-color: #fff;
}

.difficulty__button:hover {
    color: #333;
    background-color: #fff;
    border-color: #999;
}

.start {
    width: 100%;
    margin: 0;
    padding: 1rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    background: #333;
    cursor: pointer;
    font-weight: 500;
    font-family: inherit;
    transition: all .2s linear;
    z-index: 200;
    border: 0;
    outline: none;
}

.start:focus {
    outline: none;
}

.start:hover {
    color: #333;
    background: #fff;
}

.score_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: #222;
    z-index: 200;
    font-size: 1.5rem;
    color: skyblue;
    text-align: center;
    font-weight: 500;
}

.score_inner {
    display: flex;
    align-items: center;
    width: 300px;
    height: 100%;
}

.score_inner div {
    font-family: inherit;
    flex: 1 1 0;
}


.record_alert__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, .6);
    z-index: 500;
}

.record_alert {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 209px;
    background: #f7f7f7;
    color: #333;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    border: 2px solid #333;
    border-radius: 10px;
    z-index: 501;
}

.close{
    position: absolute;
    padding: 18px 0;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

.close span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: rotate(45deg);
}

.close span:after {
    content: '';
    display: block;
    width: 30px;
    height: 3px;
    background-color: #333;
    transform: rotate(90deg);
}

.slideDown {
    animation-name: slideDowm;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
}

@keyframes slideDowm {
    from {top: -100%;}
    to {top: 50%;}
}
